body {
    background: url(pinkandblue.jpg);
    background-repeat: none;
    overflow: hidden;
    background-size: cover;
}

.roblox-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.roblox-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.minecraft-bedrock-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.minecraft-bedrock-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.subway-surfers-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.subway-surfers-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.cookie-clicker-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.cookie-clicker-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.one-v-one-lol-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.one-v-one-lol-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.ball-blast-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.ball-blast-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.a-dark-room-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.a-dark-room-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.blooket-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.blooket-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.craftnite-io-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.craftnite-io-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}

.diep-io-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}

.diep-io-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}
.virus-dw {
    color: red;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
}
.virus-dw:hover {
    color: red;
    background-color: pink;
    border-radius: 20px;
}